parameters:
	ignoreErrors:
		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 5
			path: tests/Hook/WriteHookTest.php

		-
			message: '#^Offset ''message'' on non\-empty\-array in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 7
			path: tests/Hook/WriteHookTest.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 2
			path: tests/Hook/WriteHookTest.php
